[submodule "roles/PeterMosmans.customize-gnome"]
	path = roles/PeterMosmans.customize-gnome
	url = git@github.com:PeterMosmans/ansible-role-customize-gnome
[submodule "roles/gantsign.visual-studio-code"]
	path = roles/gantsign.visual-studio-code
	url = git@github.com:gantsign/ansible-role-visual-studio-code.git
[submodule "roles/markosamuli.pyenv"]
	path = roles/markosamuli.pyenv
	url = git@github.com:zdog234/ansible-pyenv.git
[submodule "submodules/dash-to-dock"]
	path = submodules/dash-to-dock
	url = https://github.com/micheleg/dash-to-dock.git
